h1 {
    text-align: center;
}

table {
    margin: auto;
}
tr {
    line-height: 30px;
}
tr td:first-of-type {
    padding-right: 30px;
}
td {
    font-size: 16px;        
}

.mat-dialog-actions {
    justify-content: space-between;
}